
	<footer id="footer">
		<div class="container">
			<div class="row gtr-200">
				<div class="col-12">

					<!-- About -->
						<section>
							<h2 class="major"><span>What's this about?</span></h2>
							<p>
								This boilerplate is prototyped by the AppSeed platform using tools and boilerplate code. 
								More information in this article: 
								<a href="https://dev.to/sm0ke/100-open-source-apps-built-with-automation-tools-3jmj">I’ve built 100+ open-source apps with automation tools</a>
							</p>
						</section>

				</div>
				<div class="col-12">

					<!-- Contact -->
						<section>
							<h2 class="major"><span>Get in touch</span></h2>
							<ul class="contact">
								<li><a href="{{ data.github   }}" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<li><a href="{{ data.medium   }}" class="icon brands fa-medium"><span class="label">Medium</span></a></li>
								<li><a href="{{ data.youtube  }}" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
								<li><a href="{{ data.twitter  }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							</ul>
						</section>

				</div>
			</div>

			<!-- Copyright -->
				<div id="copyright">
					<ul class="menu">
						<li>&copy; {{ data.copy }} - <a href="{{ data.product }}">{{ data.app_title }}</a></li>
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>

		</div>
	</footer>
